<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div></div>

    <ul class="navbar-nav">
      <li><a  routerLink="/" class="nav-link">Leader</a></li>
      <li><a  routerLink="/addTeam" class="nav-link">Add New Team</a></li>
      <li><a  routerLink="/addPlayer" class="nav-link">Add Player</a></li>
      <li><a  routerLink="/viewTeam" class="nav-link">View Team</a></li>
      <li><a  routerLink="/updateScore" class="nav-link">Update Score</a></li>
    </ul>

  </nav>

</header>
